@import '../abstrack';

.search-container{
    box-sizing: border-box;
    position: relative;

    input{
        width: 240px;
        height: 25px;
        border-radius: 20px;
        outline: none;

        @include media(small) {
            width: 155px;
            height: 20px;
            margin-left: 5px;

            &::placeholder{
                font-size: 12px;
            }
        }

        &:focus ,
        &::placeholder{
            padding-left: 10px;
        }

        @include media(small) {
            &:focus ,
            &::placeholder{
                padding-left: 2px;
            }
        }
    }

    span{
        position: absolute;
        z-index: 99;
        top: 3px;
        right: 15px;

        @include media (small) {
            top: 6px;
            right: 12px;
            font-size: 12px;
        }
    }

}