@import '@components/abstrack.scss';

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    .card {
      width: 20%;
      user-select: none;
      height: 112px;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      margin: 16px;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;

      div {
        backface-visibility: hidden;
        border-radius: 10px;
        transition: 0.6s;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        
        img{
          width: 100px;
          object-fit: cover;

          @include media(small) {
            width: 70px;
          }
        }

      }
      .back {
        font-size: 50px;
        line-height: 120px;
        cursor: pointer;
        color: #A11372;
        left: 0;

        @media screen and (max-width:500px) {
          font-size:30px;
        }
      }
      .front {
        transform: rotateY(180deg);
        line-height: 110px;
        text-emphasis: none;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .front-background{
          background-size: cover;
          height: 140px;
          width: 100px;

          @include media(small) {
            width: 70px;
            height: 98px;
          }

          img {
            vertical-align: middle;
            width: 70%;
            max-width: 150px;
            max-height: 75%;
          }
        }
      }
      &.flipped {
        transform: rotateY(180deg);
      }
      &.matched {
        transform: rotateY(180deg);
        .front {
          animation: selected 0.8s 0s ease 1;
          animation-fill-mode: both;
          opacity: 0.2;
        }
      }
    }
  }
    
  .centered {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;

    button{
      outline: none;
      border: none;
      background-color: #e73b5e;
      width: 300px;
      height: 40px;
      border-radius: 40px;
      color: #fff;
      font-size: 16px;
      font-weight: lighter;
      margin-top:20px ;
      margin-bottom:50px ;
    }

    h1{
      text-align: center;
    }
  }

  .game-board-title{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 100px;
    
    h2{

      @include media (small){
        font-size: 14px;
      }
    }

    h3{
      font-weight: lighter;

      @include media (small){
        font-size: 12px;
      }
    }
  }
  
  @keyframes selected {
    0% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.9;
    }
    70% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.3;
    }
  }